@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="font-size:12pt; padding:0">
    <img src="~/Content/img/authorization.jpg" style="width:100%" />
</div>

