@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3> @ViewBag.Title | @clsGlobal.AppName </h3>

   

<div style="font-size:12pt;">

    <p>
        In order to use this TemplateWeb system comfortly, you can do the following suggestions:
    </p>

    <ul>
        <li>Please use the monitor with the minimal resolution 1280 x 768 (You can set it via Control Panel > Display > Settings).</li>
        <li>Please use <strong> Firefox Mozilla, Google Chrome latest version</strong> browsers. Some features will run better at <strong> Firefox Mozilla, Google Chrome latest version</strong>.</li>

        <li>Please make sure that javascript on your browser is still active. By default, the Javascript on browsers is active.</li>
    </ul>
</div>
